{% extends 'base.html' %}

{% block title %}Участники{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Поиск участников по имени</label> <input class="form-control" type="text" name="name1"/>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Найти">
    </div>
</form>
<a href="/add">Добавить</a>
<h1>Участники</h1>

<ul>
    {% for student in students %}
        <li><a href="/student?id={{ student.id }}">
            {{ student.surname }} {{ student.name }}</a>
        </li>
    {% endfor %}
</ul>
<div class="form-group">
    <a class="btn btn-primary" href="/logout">Выйти</a>
</div>
{% endblock %}