<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>GoToCRM</title>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
<h2>Регистрация</h2>
<a href="/">Назад</a>
{% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>Ошибка! </strong>{{ message }}
    </div>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <strong>Логин:</strong>
    <div class="form-group">
    <input class="form-control" type="text" name="login">
    </div>
    <strong>Email:</strong>
    <div class="form-group">
    <input class="form-control" type="text" name="email">
    </div>
    <strong>Пароль:</strong>
    <div class="form-group">
    <input class="form-control" type="password" name="password">
    </div>
    <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Создать аккаунт!">
    </div>

</form>
</div>
</body>
</html>